<mat-toolbar color="primary" style="display: flex; justify-content: space-between;">
    <span>My Flix</span>
    <button mat-icon-button [routerLink]="'/profile'">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<div>
    <mat-card *ngFor="let users of users;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{users.Username}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{users.Username}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{users._id}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{users.Email}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{users.Birthdate}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{users.Favorites}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <span style="flex-grow: 1;"></span>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>