<mat-toolbar color="primary" style="display: flex; justify-content: space-between;">
    <span>My Flix</span>
    <button mat-icon-button [routerLink]="'/profile'">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<div>
    <mat-card  style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{user.Username}}</mat-card-title>
          </mat-card-header>
        <mat-card-actions>
            <button class="updateBtn" color="primary" (click)="openUpdateDialog()">
              Update Profile
            </button>
            <button class="logoutBtn" (click)="deleteAccount()">
              Delete Account
            </button>
            <button class="logoutBtn" (click)="logout()">
                Log Out
              </button>
          </mat-card-actions>
    </mat-card>
</div>

<div>
    <h2>Favorite Movies List</h2>
    <div style="display: flex;">
        <mat-card *ngFor="let movie of favoriteMovies;" style="flex: 1 1 auto;">
            <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
                <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            </mat-card-header>
            <img src={{movie.ImagePath}} height="500"  alt= {{movie.Title}} />
            <mat-card-actions>
                <button mat-icon-button (click)="deleteFavoriteMovie(movie._id)">
                    <mat-icon>
                      favorite
                    </mat-icon>
                  </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>