<mat-toolbar color="primary" style="display: flex; justify-content: space-between;">
    <span>My Flix</span>
    <button mat-icon-button [routerLink]="'/profile'">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<div>
    <mat-card  style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{user.Username}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{user.Username}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{user._id}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{user.Email}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{user.Birthdate}}</mat-card-subtitle>
            <mat-card-subtitle>Directed by: {{user.Favorites}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button class="updateBtn" color="primary" (click)="openUpdateDialog()">
              Update Profile
            </button>
            <button class="logoutBtn" (click)="deleteAccount()">
              Delete Account
            </button>
          </mat-card-actions>
    </mat-card>
</div>

<div>
    <h2>Favorite Movies List</h2>
</div>